.top-bar {
    width: 100vw;
}

@media (min-width: 768px) {
    .top-bar {
        background-color: #aaa;
    }
}
@media (max-width: 768px) {
    .top-bar {
        background-color: #fff;
    }
}

.top-bar__items {

}
